Source: lernstick-mount-exchange
Section: admin
Priority: required
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-mount-exchange
Architecture: any
Description: autostart script to mount the exchange partition
 An autostart script to mount the exchange partition.
